
* {
  box-sizing: border-box;
}

h1 {
	font-size: 27px;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
}

p {
	padding: 15px 5px 0px 5px;
	font-size: 18px;
	position: relative;
}

.section { 
	background-color: rgb(150, 150, 150);
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 22px;
	width: 180px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}

#num1 {
	background-color: rgb(250, 150, 150);
	color: rgb(0, 0, 0);
}

#num2 {
	background-color: rgb(250, 0, 0);
	color: rgb(250, 250, 250);
}

#num3 {
	background-color: rgb(200, 200, 100);
	color: rgb(0, 0, 0);
}
}

.row {
	width: 100%;
}

/* Not XS screen */
@media (min-width:768px){
	#collapsable-nav {
		visibility: hidden;
	}
}

/* XS screen */
@media (max-width:767px){
	
	.navbar-brand {
		margin-left: 15px;
	}
	
	.content-cell {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	#collapsable-nav {
		background-color: #BBEABB;
	}
	
	#nav-list {		
		margin-bottom: 1px;
		margin-top: 0px;
	}
	
	#nav-list li{
		text-align: center;
		border: 1px solid #559955;
		margin-bottom:-1px;
	}
	#nav-list li:hover{
		font-weight: bold;
		background-color: #BBDDBB;
	}
}


@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}

